<h1>テンプレート一覧</h1>
<% @templates.each do |t| %>
  <div class="card">
    <span><%= t.title %></span>
    <span><%= link_to '詳細', template_path(t), class: 'btn btn-primary pull-right' %></span>
  </div>
<% end %>
<%= link_to 'テンプレート作成', new_template_path, class: 'btn btn-default' %>
