<h1>テンプレート一覧</h1>

<% @templates.each do |t| %>
  <%= link_to template_path(t) do %>
    <div class="card">
      <span><%= t.title %></span>
    </div>
  <% end %>
<% end %>
<%= link_to 'テンプレート新規作成', new_template_path, class: 'btn btn-default pull-right' %>
