<h1>募集一覧</h1>

<div id="top-page">
<% @boards.each do |b| %>
  <div class="board">
    <div class="content">
      <div class="header">
        <ul>
          <li>日時</li>
          <li>場所</li>
          <li>チーム名</li>
          <li>レベル</li>
          <li class="pull-right"><%= link_to '詳細', board_path(b) %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>
