#top-page {
  margin-top: 5%;
  .search-button {
    text-align: center;
    margin: 20px 0;
  }
  .board {
    background-color: white;
    border: 1px solid lightgray;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    .content {
      width: 100%;
      display: table;
      .item {
        display: table-cell;
        text-align: center;
        .head {
          width: 100%;
          background-color: lightgray;
        }
      }
    }
  }
}

#search-modal {
  border: 1px solid lightgray;
  width: 70%;
  margin: 15px auto;
  .search-form {
    padding: 5px 15px;
    text-align: center;
  }
}
#board-show {
  margin-top: 5%;
  .board {
    border: 1px solid lightgray;
    padding: 5%;
    p {
      display: inline-block;
    }
  }
}
