#yield {
  min-height: 1000px;
}

.form > ul > li{
  list-style: none;
  label {
    margin-right: 10px;
    width: 100px;
    float: left;
  }
}

.comment {
  font-size: 5px;
}

.setting-button {
  width: 100%;
}

.bold {
  font-weight: bold;
  width: 10%;
}
